/*

.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#Bhome .ui-icon { background:  url(images/icons/icons-white/272-windows.png) 50% 50% no-repeat; background-size: 24px 20px; }
#Btours .ui-icon { background:  url(images/icons/icons-white/275-broadcast.png) 50% 50% no-repeat; background-size: 24px 20px;  }
#Bprofile .ui-icon { background:  url(images/icons/icons-white/123-id-card.png) 50% 50% no-repeat;  background-size: 24px 20px; }
#Bsettings .ui-icon { background:  url(images/icons/icons-white/20-gear-2.png) 50% 50% no-repeat;  background-size: 24px 20px; }
#Bupdate .ui-icon { background:  url(images/icons/icons-white/09-chat-2.png) 50% 50% no-repeat;  background-size: 20px 20px; }
*/

div {
    color:#ffffff /*{b-bar-color}*/;
    font-size : 13px;
}

h2 {
    font-size : 14px;
 	color:#ffffff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #000000 /*{b-bar-shadow-color}*/;
 	
}
label {
    font-size : 12px;
 	color:#ffffff /*{b-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #000000 /*{b-bar-shadow-color}*/;
}

.info {
    font-size : 12px;
	color : white;
    text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #000000 /*{b-bar-shadow-color}*/;
}

.error {
    font-size : 12px;
	color : red;
    text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #000000 /*{b-bar-shadow-color}*/;
}

p {
    font-size : 13px;
	color : white;
    text-shadow: 0 /*{b-bar-shadow-x}*/ -1px /*{b-bar-shadow-y}*/ 1px /*{b-bar-shadow-radius}*/ #000000 /*{b-bar-shadow-color}*/;
}